#calculator {
    background-color: var(--primary);
    padding: 1.5rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}